@using System.Security.Claims;
@using CustomDemo;
@model IEnumerable<Claim>
@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Subject.Name</th>
            <th>Issuer</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Subject.Name</td>
                <td>@claim.Issuer</td>
                <td>
                 @Html.ClaimType(claim.Type)
                </td>
                <td>@claim.Value</td>
            </tr>
        }

    </tbody>
</table>


